<p class="text-right"><%= link_to 'Back to all articles', blog_path, class: 'btn btn-danger btn-sm' %></p>
<h3><%= @article.title %></h3>
<p><i>Posted <%= time_ago_in_words(@article.created_at) %> ago</i></p>
<p><%= simple_format(@article.body) %></p>
  <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
<hr>
<p>
  <% if can? :update, @article %>
      <%= link_to "Edit This Article", edit_article_path(@article), class: 'btn btn-danger btn-sm' %>
  <% end %>
  <% if can? :destroy, @article %>
      <%= link_to "Delete This Article", @article, :method => :delete, :confirm => "Are you sure you want to delete this article?", class: 'btn btn-danger btn-sm' %>
  <% end %>
  <% if can? :create, @article %>
      <%= link_to "Add New Article", new_article_path, class: 'btn btn-danger btn-sm' %>
  <% end %>
</p>
<%= render 'layouts/structure/disqus' %>
