<h4><%= @video.title %></h4>
<p><%= @video.description %></p>
<div class="sidebox">
  <p>Tags: <%= raw @video.tag_list.map { |t| link_to t, videotag_path(t) }.join(', ') %></p>
</div>

<p><iframe width="560" height="315" src="//www.youtube.com/embed/<%= @video.source %>?rel=0" frameborder="0" allowfullscreen></iframe></p>


<hr>
<%= render 'layouts/structure/disqus' %>