<% if params[:tag] %>
    <p class="text-right"><%= link_to 'Back to all events', events_path, class: 'btn btn-danger btn-sm' %></p>
    <h3>Upcoming Events tagged with <%= params[:tag] %></h3>
<% else %>
    <h3>Upcoming Events</h3>
    <p><%= raw @events_content %></p>
<% end %>
<table width="100%" class="table table-striped">
  <thead>
  <tr>
    <th width="22%">Date/Time</th>
    <th width="70%">Event</th>
    <th width="8%"></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.start, event %></td>
        <td><%= link_to event.title, event %></td>
        <td align="right"><%= link_to 'More Info', event, class: 'btn btn-danger btn-sm' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @events %>
