<%= simple_form_for(@page, html: {multipart: true}) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <%= f.input :title, class: 'form-control', placeholder: 'Enter the title for the page' %>
      <%= f.input :permalink, class: 'form-control', placeholder: 'Enter the permalink for the url without spaces' %>
      <%= f.input :body, class: 'form-control', placeholder: 'Enter the body content' %>
      <%= f.file_field :page_image, label: 'Your username please' %>
      <%= f.input :active, label: 'Check if active' %>
      <%= f.button :submit, class: 'btn btn-danger', value: 'Create New Page' %>
    </div>
<% end %>
