<% if params[:tag] %>
    <p class="text-right"><%= link_to 'Back to all articles', blog_path, class: 'btn btn-danger btn-sm' %></p>
    <h3>Articles tagged with <%= params[:tag] %></h3>
<% else %>
    <h3>Articles</h3>
    <p><%= raw @articles_content %></p>
<% end %>
<% @articles.each do |article| %>
    <h4><%= link_to_unless_current article.title, article %></h4>
    Posted <%= time_ago_in_words(article.created_at) %> ago  in
    <p>&nbsp;</p>
    <p><%= simple_format(article.body) %></p>
    <p class="text-right"><%= link_to 'Read', article, class: 'btn btn-danger btn-sm' %></p>
    <hr>
<% end %>
<%= paginate @articles %>