<% if params[:tag] %>
    <p class="text-right"><%= link_to 'Back to all shows', shows_path, class: 'btn btn-danger btn-sm' %></p>
    <h3>Upcoming Shows tagged with <%= params[:tag] %> </h3>
<% else %>
    <h3>Upcoming Shows</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique turpis at orci vestibulum, sit amet ultricies elit volutpat. Phasellus dapibus id urna at condimentum. Cras dignissim, lectus non viverra tristique, dui felis condimentum dolor, vitae porta elit odio non turpis. Suspendisse mollis lacus non felis consectetur, ac elementum nibh porttitor. Duis facilisis nisi eu risus dictum, a iaculis risus congue. Aliquam mattis interdum purus, ac interdum enim tincidunt vehicula. Curabitur egestas ut lectus eget cursus. </p>
<% end %>
<% if !@next_shows.empty? %>
    <div class="row sidebox">
      <% @next_shows.each do |show| %>
          <p><strong>Next Show:</strong> <%= link_to show.show_topic_start, show %></p>
      <% end %>
    </div>
<% end %>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Date</th>
    <th>Topic</th>
    <th>Guest</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @shows.each do |show| %>
      <tr>
        <td><%= link_to show.start, show %></td>
        <td><%= link_to truncate(show.topic, length: 35), show %></td>
        <td><%= link_to show.guest, show %></td>
        <td><%= link_to 'More Info', show, class: 'btn btn-danger btn-sm' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @shows %>