<p class="text-right"><%= link_to 'Back to all shows', shows_path, class: 'btn btn-danger btn-sm' %></p>
<h3><%= @show.topic %></h3>
<p class="img-float-right"><%= image_tag @show.guest_image.to_s %></p>
<p><%= @show.date.strftime("%m/%d/%Y") %> at <%= @show.time.strftime("%I:%M %p") %></p>
<p><%= @show.description %></p>
<% if !@show.guest.empty? %>
   <p>Guest: <%= @show.guest %></p>
<% end %>
<% if !@show.tag_list.empty? %>
<p>Tags: <%= raw @show.tag_list.map { |t| link_to t, showtag_path(t) }.join(', ') %></p>
<% end %>
<div style="clear:both;"></div>
<hr>
<%= render 'layouts/structure/disqus' %>