<!DOCTYPE html>
<html>
<head>
  <title><%= @sitename_content %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/structure/facebook-masthead' %>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                BEGIN MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>

<%= render 'layouts/structure/masthead' %>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                END MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>

<div class="container">

  <div id="contentsection">
    <div class="row">

      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN LEFT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-9" >
        <%= yield %>
      </div>


      <!-----------------------------------------------
       -------------------------------------------------
       -------------------------------------------------
                       END LEFT COLUMN
       -------------------------------------------------
       -------------------------------------------------
       ------------------------------------------------>



      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-3">
          <%= render 'layouts/structure/next-show' %>
        <div class="row whitebox">
          <%= render 'layouts/structure/side-facebook' %>
        </div>
        <div class="row text-center">
          <%= render 'layouts/structure/googleads/rightphotoad' %>
        </div>
        <div class="row whitebox">
          <%= render 'layouts/structure/upcoming-events' %>
        </div>
        <div class="row text-center">
          <%= render 'layouts/structure/googleads/righttextad' %>
        </div>

      </div>
      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      END RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>

    </div>



  </div>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/adrow' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/footer' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



</div> <!-- /container -->


<%= render 'layouts/structure/disqus-footer' %>


</body>
</html>
