<!DOCTYPE html>
<html>
<head>
  <title>ISTA Entertainment Spotlight</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                BEGIN MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>

<%= render 'layouts/structure/masthead' %>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                END MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>

<div class="container">

  <div id="contentsection">
    <div class="row">

      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN LEFT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-9" >
        <%= yield %>
      </div>


      <!-----------------------------------------------
       -------------------------------------------------
       -------------------------------------------------
                       END LEFT COLUMN
       -------------------------------------------------
       -------------------------------------------------
       ------------------------------------------------>



      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-3">
          <%= render 'layouts/structure/next-show' %>
        <div class="row whitebox">
          <%= render 'layouts/structure/side-facebook' %>
        </div>
        <div class="row text-center">
          <%= render 'layouts/structure/googleads/rightphotoad' %>
        </div>
        <div class="row whitebox">
          <%= render 'layouts/structure/upcoming-events' %>
        </div>
        <div class="row text-center">
          <%= render 'layouts/structure/googleads/righttextad' %>
        </div>

      </div>
      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      END RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>

    </div>



  </div>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/adrow' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/footer' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



</div> <!-- /container -->


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'istaentertainment'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>


</body>
</html>
