<!DOCTYPE html>
<html>
<head>
  <title>ISTA Entertainment Spotlight</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                BEGIN MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>

<%= render 'layouts/structure/masthead' %>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                END MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>
<div class="row">
  <div class="photo-centered">
    <img src="https://s3.amazonaws.com/istaentertainment/photobar.jpg" class="photobar">
  </div>
</div>


<div class="container">

  <div id="contentsection">
    <div class="row">

      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN LEFT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-9" >
        <div class="row sidebox">
          <%= render 'layouts/structure/next-show' %>
        </div>
        <%= yield %>
      </div>


      <!-----------------------------------------------
       -------------------------------------------------
       -------------------------------------------------
                       END LEFT COLUMN
       -------------------------------------------------
       -------------------------------------------------
       ------------------------------------------------>



      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-3">
        <div class="row whitebox">
          <%= render 'layouts/structure/side-facebook' %>
        </div>
        <div class="row text-center">
          <%= render 'layouts/structure/googleads/rightphotoad' %>
        </div>
      </div>
      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      END RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>

    </div>



  </div>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/adrow' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/footer' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



</div> <!-- /container -->




</body>
</html>
