<!DOCTYPE html>
<html>
<head>
  <title>ISTA Entertainment Spotlight</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                BEGIN MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>

<%= render 'layouts/structure/masthead' %>

<!-----------------------------------------------
-------------------------------------------------
-------------------------------------------------
                END MASTHEAD
-------------------------------------------------
-------------------------------------------------
------------------------------------------------>
<div class="row">
  <div class="photo-centered">
    <img src="https://s3.amazonaws.com/istaentertainment/photobar.jpg" class="photobar">
  </div>
</div>


<div class="container">

  <div id="contentsection">
    <div class="row">

      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN LEFT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-9" >
        <%= yield %>
      </div>


      <!-----------------------------------------------
       -------------------------------------------------
       -------------------------------------------------
                       END LEFT COLUMN
       -------------------------------------------------
       -------------------------------------------------
       ------------------------------------------------>



      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      BEGIN RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>
      <div class="col-md-3">
        <div class="row text-center">
          <img src="https://storage.googleapis.com/support-kms-prod/SNP_2922347_en_v0" alt="" height="auto">
        </div>
        <div class="row">
          <%= render 'layouts/structure/upcoming-events' %>
        </div>
      </div>
      <!-----------------------------------------------
      -------------------------------------------------
      -------------------------------------------------
                      END RIGHT COLUMN
      -------------------------------------------------
      -------------------------------------------------
      ------------------------------------------------>

    </div>



  </div>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/adrow' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END AD ROW
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  BEGIN FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>

  <%= render 'layouts/structure/footer' %>

  <!-----------------------------------------------
  -------------------------------------------------
  -------------------------------------------------
                  END FOOTER
  -------------------------------------------------
  -------------------------------------------------
  ------------------------------------------------>



</div> <!-- /container -->




</body>
</html>
